@font-face {
  font-family: "Bear Hugs";
  src: url("/fonts/bearhugs.ttf") format("truetype"),
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	background: linear-gradient(to bottom right, #6441a5, #E441A5);
	margin: 0;
	position: relative;
}

h1 {
	font-family: 'Bear Hugs', sans-serif;
	color: #efefef;
	margin: 0;
	text-align: center;
	font-size: 7em;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #efefef;
}

nav ul {
	padding-left: 0;
	display: flex;
	margin: auto;
	width: 60%;
}

nav ul li {
	flex: 1;
	list-style-type: none;
	text-align: center;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
}

#twitch-embed {
	text-align: center;
	margin: 50px 0;
}

.live-btn,
.live-btn:link,
.live-btn:visited {
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	display: block;
	text-align: center;
	border: 2px solid #6441a5;
	margin: auto;
    border-radius: 5px;
    padding: 10px 0;
	text-decoration: none;
	color: #fff;
	transition: background .25s ease-in-out;
    width: 200px;
    text-transform: uppercase;
}

.live-btn:hover,
.live-btn:focus {
	background: #6441a5;
}

footer p {
	padding: 60px 5px 5px;
	margin: 0;
	font-size: .85em;
}
