* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	margin: 0;
}

body {
	background: linear-gradient(#6441a5, #E441A5);
}

h1 {
	font-family: 'Neucha', sans-serif;
	color: #efefef;
	margin: 0;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #efefef;
}