@font-face {
  font-family: "Bear Hugs";
  src: url("./fonts/bearhugs.ttf") format("truetype"),
}

* {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	background: linear-gradient(to bottom right, #aaa, #333);
	margin: 0;
	position: relative;
}

header {
	background-color: #333;
	box-shadow: 0 3px 15px rgba(0, 0, 0, .5);
}

h1 {
	font-family: 'Bear Hugs', sans-serif;
	color: #efefef;
	margin: 0;
	font-size: 4em;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: #efefef;
}

.flex-container {
	display: flex;
}

.flex-half {
	flex: 0 50%;
	box-sizing: border-box;
}

nav ul {
	padding-left: 0;
	display: flex;
	margin: auto;
	width: 40%;
}

nav ul li {
	flex: 1;
	list-style-type: none;
	text-align: center;
	display: inline-block;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
}

.responsive-media-container {
    position: relative;
    overflow: hidden;
    padding-top: 25.25%;

}

#twitch-embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

footer {
	position: absolute;
	bottom: 0;
}

footer p {
	padding: 5px;
}
